:root {
    --timerWidth: 0%;
    --timerTransition : width 2s;
    }
  
html,body{
    height: 100%;
}

body{
    margin:0px;
    background-color: rgb(242, 242, 242);
}

#container{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    height: 40%;
    border: 1px solid rgba(230, 230, 230, 1);
    background-color: white;
}


#innerContainer ,#timeOut {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#timer{
    width: var(--timerWidth);
    height: 1.5%;
    background-color: red;
    transition: var(--timerTransition);
}

#text,#inputText{
    margin: 0px;
}

#inputText,#text,#timeOut,#timeOut > button{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-stretch: 100%;
    font-weight: 600; 
}

#text{
    font-size:24px;
}

#inputText,#inputText:focus{
    border-top:0px;
    border-right: 0px;
    border-left: 0px;
    outline: 0;
}